@charset "UTF-8";
/* main.scss */
/* _reset.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* _typography.scss */
body {
  font-family: sans-serif;
  color: #cecece; }

.justify-text {
  text-align: justify; }

/* _utilities.scss */
.home {
  display: flex;
  flex-direction: column; }

.banner-home {
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  min-height: 70rem;
  background-image: url("/imagenes/banner.jpg");
  background-size: cover;
  background-position: center center; }

.main-title {
  color: white;
  font-size: 5rem;
  text-align: center; }

.about-us {
  padding: 2rem;
  text-align: center; }

.title {
  font-size: 2rem; }

.justify-text {
  text-align: justify; }

/* Media queries para hacerlo responsive */
@media (max-width: 768px) {
  .home {
    align-items: center; }

  .banner-home {
    min-height: 40rem;
    background-attachment: scroll;
    /* Volver a scroll para dispositivos móviles */ }

  .main-title {
    font-size: 3rem; }

  .about-us {
    padding: 1rem; } }
/* _about-us.scss */
.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background-color: #1e1b1b;
  padding: 10rem 0 10rem 0; }
  .about-us h2 {
    margin: 1rem;
    font-size: 3rem; }
  .about-us p {
    margin: 0 4rem 0 4rem;
    font-size: 2.3rem;
    width: auto; }

@media (max-width: 768px) {
  .about-us {
    text-align: center;
    padding: 5rem 0; }
    .about-us h2 {
      font-size: 2.5rem; }
    .about-us p {
      font-size: 1.8rem;
      margin: 0 2rem; } }
/* _staff.scss */
.staff {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  background-color: #602b1d;
  padding: 0 0 3rem 0; }
  .staff h2 {
    font-size: 4rem;
    text-transform: uppercase; }

.staff-members {
  display: flex;
  width: 100%;
  justify-content: space-around; }

.staff-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; }
  .staff-member img {
    width: auto;
    height: 20rem;
    border-radius: 50%; }
  .staff-member p {
    font-size: 3rem; }

@media (max-width: 768px) {
  .staff-members {
    flex-direction: column;
    align-items: center;
    gap: 2rem; }

  .staff-member {
    margin-bottom: 2rem; } }
.work {
  text-align: center;
  background-color: #cecece;
  padding: 1rem;
  border: 0.2rem solid #ddd;
  padding: 0 rem 0 5rem; }

.title {
  text-transform: uppercase;
  color: #1e1b1b; }

.section {
  background-color: #1e1b1b;
  padding: 2rem;
  border: 1px solid #ddd;
  text-align: center; }

h3 {
  text-transform: uppercase;
  color: #eaeaea; }

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr)); }

.image-grid img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

@media (max-width: 768px) {
  .section {
    margin: 0 1rem 0 1rem; } }
.shop {
  text-align: center;
  background-color: #1e1b1b;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 2rem auto; }

.shop-title {
  font-size: 1.5rem;
  margin-bottom: 1rem; }

.product-section {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap; }

.product {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center; }
  .product h3 {
    color: black; }

.product img {
  max-width: 70%;
  height: auto; }

.product-title {
  font-size: 1.2rem;
  margin: 1rem 0; }

.product-price {
  font-size: 1.2rem;
  font-weight: bold; }

.buy-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem 1.25rem;
  /* Aumenta el tamaño del botón */
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem; }

@media (max-width: 768px) {
  .product {
    flex: 1 1 auto;
    width: 100%; }

  .buy-button {
    padding: 0.5rem 1rem;
    /* Restaura el tamaño original en dispositivos pequeños */ } }
/* _custom-form.scss */
.custom {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  margin: 0 auto; }
  .custom h2 {
    color: #333;
    text-align: center; }
  .custom form {
    display: flex;
    flex-direction: column; }
    .custom form label {
      margin-bottom: 5px;
      font-weight: bold; }
    .custom form input[type="text"],
    .custom form input[type="email"],
    .custom form input[type="tel"],
    .custom form textarea {
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px; }
    .custom form button[type="submit"] {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px;
      font-size: 18px;
      cursor: pointer; }
      .custom form button[type="submit"]:hover {
        background-color: #0056b3; }

/* _footer.scss */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  footer .social-media {
    display: flex;
    gap: 10px; }
    footer .social-media a {
      text-decoration: none;
      color: #fff;
      font-size: 24px; }
  footer .map-container {
    flex: 1;
    max-width: 100%;
    height: 300px;
    margin-top: 20px; }
    @media (max-width: 768px) {
      footer .map-container {
        height: 200px; } }

/* Resto de tu código ... */

/*# sourceMappingURL=style.css.map */
