/* _product.scss */
.product-section {
  display: flex;
  justify-content: space-around;
  background-color: #1e1b1b;
  padding: 20px;
  gap: 4rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  h2 {
    background-color: #000;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 10px 0;
  }

  .product {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0,.1);
    
    img {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        display: block;
    }
    
    .product-price {
        margin-top: 10px;
        font-weight: bold;
    }
    
    .buy-button {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 20px;
        line-height: 1;
        cursor: pointer;
        
        &:hover {
            background-color: #0056b3;
        }
    }
}
}
