/* _product.scss */

.shop{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
    background-color: #1e1b1b;
    padding: 4rem 0 4rem 0;
    gap: 4rem;
}




