.work {
  text-align: center;
  background-color: #cecece;
  padding: 1rem;
  border: 0.2rem solid #ddd;
}

.title {
  text-transform: uppercase;
  color: #1e1b1b;
}

.section {
  background-color: #1e1b1b;
  padding: 2rem;
  border: 1px solid #ddd;
  text-align: center;
}

h3 {
  text-transform: uppercase;
  color: rgb(234, 234, 234);
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 0.4rem;
}

.image-grid img {
  max-width: 100%;
  height: auto;
  width: 100%;
  display: block;
}

@media (max-width: 768px) {
  .section {
      margin: 0 1rem 0 1rem;
  }
}
